<div class="user-register-body">
    <div class="user-register-form">
       <div>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
                <mat-form-field class="input-form">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field class="input-form">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field class="input-form">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <button mat-stroked-button type="submit" [disabled]="!userForm.valid">Save</button>
            </form>
       </div>
       <div class="form-second-button">           
            <a [routerLink]="['/auth']">
                <span>Return to Login.</span>
            </a>
       </div>       
    </div>    
</div>
