
.top-game {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.score-game {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}


.card-game {
    margin-top: 20px;
}

.card {
    padding: 10px;
}

.titulo-card-game {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}